.studioImgs{
    display: flex;
    gap: 10px;
    width: 259px;
    height: 608px;
    .div1{
        width: 265px;
        height: 24px;
        background: black;
        margin-top: 408px;
        position: absolute;
    }
    .div2{
        width: 265px;
        height: 24px;
        background: black;
        margin-top: 240px;
        position: absolute;
        margin-left: 265px;
    }
}

.studioText{
    color: white;
    width: 589px;
    p{
        margin-bottom: 30px;
    }
    .studioIcons{
        display: flex;
        gap: 36px;
        padding-bottom: 105px;
        padding-top: 30px;
    }
}

.studioIcon2{
    display: flex;
    color: white;

    p{
        font-family: 'Segoe Script', cursive;
        color: red;
    }
}


.studio-h1{
    color: white;
    width: 1170px;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 40px;

    h1{
        width: 700px;
        margin: 50px auto;

    }
}