@import "tailwindcss";


@font-face {
    font-family: "Garamond";
    src: url('/fonts/Garamond-Regular.ttf') format('truetype');
}

body {
    font-family: 'Garamond', serif;
}

.app-container {
    width: 1170px;
    margin: auto;
    /*border: 1px solid green;*/
}