.remontCard {
  color: white;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 135px;
  div {
    width: 500px;
    height: 286px;
    font-family: Roboto, sans-serif;
  }
  h3 {
    font-weight: 600;
    margin-bottom: 30px;
  }
  img {
    /*background-color: white;*/
    color: white;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    width: 65px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)); /* Белое свечение */
  }
}
